.top{
    margin: auto;
    width: 80%;
    background-color: rgb(255, 94, 0);
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-weight: bold;
}

.menu{
    margin-left: 10px;
}

.login{
   float: right;
   margin-top:4px;
   margin-right:10px;
}

.posts{
    background-color: #e6e6e6;
    margin: auto;
    width: 80%;
    
    padding-top: 10px;
}

.triangle{
    width:1%;
}
.link{
    color: #9c9b9b;
    font-size: 12px;
}

.subtext{
    color: #797878;
    font-size: 10px;
    margin-left: 34px;
}

.subtext2{
    color: #797878;
    font-size: 10px;
    margin-left: 38px
}

.b{
    color:#e6e6e6;
}
.logo{
    width:1.8%;
    margin-left: 3px;
    margin-top: 3px;
}

.text{
    padding-left: 4px;
}

.number{
    color: #797878;
}